.u-center{ text-align: center !important;}

.u-margin-bottom8{ margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom2{ margin-bottom: 1.5rem !important;}

.u-margin-bottom-medium{ margin-bottom: 4rem !important;
    
    @include respond(tab-port){
       margin-bottom: 3rem !important;
    }

}

.u-margin-top{ margin-top: 5rem !important;}






















